#canvas-transform canvas {
  border: 1px solid #000;
}
#canvas-transform button {
  display: block;
}
#canvas-transform input[type=text] {
  width: 2em;
  font-weight: bold;
}
#canvas-transform input[type=text]:nth-child(1),
#canvas-transform input[type=text]:nth-child(2) {
  color: #090;
}
#canvas-transform input[type=text]:nth-child(3),
#canvas-transform input[type=text]:nth-child(4) {
  color: #900;
}
