#hsv2rgb {
  border: 1px solid #000;
  padding: 10px;
}
#hsv2rgb input {
  border-style: solid;
  border-color: #000;
  border-width: 0 0 1px 0;
  background: #eee;
  width: 2em;
}
#hsv2rgb div {
  margin: 5px;
}
#hsv2rgb #preview {
  border: 1px solid #000;
  padding: 10px;
}
