#Minesweeper {
  overflow: auto;
}
#Minesweeper td {
  font-size: 13px;
  font-family: sans-serif;
  font-weight: bold;
  text-align: center;
  width: 15px;
  min-width: 15px;
  height: 15px;
  border: 1px solid #ccc;
  cursor: pointer;
  background-color: #aaa;
}
#Minesweeper table {
  margin-left: auto;
  margin-right: auto;
  border-collapse: collapse;
  border: 2px solid #555;
}
