#solar {
  font-size: 0;
  border: 1px solid #0f0;
  text-align: center;
  background-color: #000;
  color: #fff;
}

#solar div {
  font-size: 12px;
  font-family: monospace;
  text-shadow: 0px 1px 1px #000;
}