#tg_main {
  border: 1px solid #999;
  background-color: #ccc;
  padding: 5px;
  font-size: 0;
  overflow: auto;
  position: relative;
}

.wm_window {
  position: relative; /* absolute! */
  display: inline-block;
  border: 1px solid #000;
  vertical-align: bottom;
  padding: 0;
  margin: 1px;
  background-color: #fff;
}

.wm_title {
  font-size: x-small;
  padding: 3px 5px;
  color: #fff;
  background-color: #333;
  cursor: move;
}

.wm_body {
  display: inline-block;
  padding: 0;
  position: relative;
}

#tg_code {
  margin: 0;
  display: inline-block;
  vertical-align: bottom;
  resize: none;
  width: 350px;
  height: 350px;
  padding: 5px;
  border-width: 0;
}

#tg_fs>div>div {
/*  border-radius: 40%; */
  position: absolute;
  border-width: 0;
  background-color: #800;
  width: 7px;
  height: 7px;
  top: 1px;
  right: 1px;
}
#tg_fs>div>div:hover {
  background-color: #f00;
}
#tg_fs>div {
  display: inline-block;
  position: relative;
  border: 0 solid #777;
  padding: 0;
}
#tg_fs button {
  padding: 0 10px;
  margin: 0;
}

#tg_error {
  display: none;
  background-color: #ff0;
  font-size: 10px;
  position: absolute;
  padding: 10px;
  left: 0px;
  right: 0px;
  top: 0px;
/*  bottom: 0px; */
}

#tg_error_close {
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
}
