#perlin-noise-wraper {
  text-align: center;
}
#perlin-noise {
  background-color: #ccc;
  border: 1px solid #000;
  display: inline-block;
  font-size: 0;
}
#perlin-noise input {
  font-size: 10px;
  border: 1px solid #333;
  padding: 0 1px;
  margin: 0 1px;
  outline: none;
  width: 3em;
}
#perlin-noise .title {
  background-color: #333;
  color: #fff;
  font-size: 10px;
}
#perlin-noise cpan {
  font-size: 10px;
}
#perlin-noise .comment {
  color: #333;
  font-size: 9px;
}
#perlin-noise img {
  padding: 0;
  margin: 4px;
  border: 4px solid #fff;
}
#perlin-noise button {
  font-size: 10px;
}
