{% extends "blog/wraper.html"%}
{% block content%}
<h1>Алексей Мичурин</h1>
    <p>У этого сайта несколько назначений</p>
    <h3>Полезное</h3>
    <p>Я поддерживаю ряд онлайн инструментов для web- и около-web-разработки.
        Полный список смотрите в меню слева. Например
        <a href="online-tools/favicon-editor.html">редактор иконок</a> или
        <a href="online-tools/perlin-noise-tileable.html">генератор фонов</a>…</p>
    <h3>Развлекательное</h3>
    <p>Тут есть простенькие забавные онлайн игрушки. Полный список слева.
        Например <a href="online-tools/life-game.html">игра «Жизнь»</a>,
        <a href="online-tools/mandelbrot.html">навигатор по множеству Мандельброта</a>
        или
        <a href="online-tools/hypercube.html">интерактивный гиперкуб</a>…</p>
    <h3>Познавательное</h3>
    <p>Тут есть много материалов на разные темы:</p>
    <ul>
        <li>Около-компьютерные вопросы<ul>
                <li>Компьютерное обучение и искусственный интеллект</li>
                <li>Шифрование к криптография</li>
                <li>Алгоритмы</li>
            </ul>
        </li>
        <li>Физика<ul>
                <li>Теория относительности</li>
                <li>Квантовая механика</li>
            </ul>
        </li>
        <li>Математика<ul>
                <li>Парадоксы теории вероятностей</li>
                <li>Фракталы</li>
                <li>Гиперкуб</li>
            </ul>
        </li>
        <li>Обучение и преподавание</li>
    </ul>
    <p>Подробнее — меню слева.</p>
    <h3>Памятка и off-line инструменты для разработчика</h3>
    <p>Самая старая (и самая устаревшая) часть сайта.</p>
    <p>Различные советы, в основном для пользователей Linux
        и разработчиков на языках Python, C++, JavaScript.
        Не все советы одинаково полны и/или актуальны, но я работаю
        над этим.</p>
    <h2>Статус материалов</h2>
    <p>Всё это сделано/написано просто в свободное время. Поэтому,
        что-то может не работать на всех браузерах. Где-то могут
        быть опечатки… Тем не менее, я стараюсь поддерживать это
        хозяйство в порядке, а если вы найдёте косяки, не судите строго,
        а просто напишите мне.</p>
    <p>Кстати, если вы используете форму для обратной связи и рассчитываете
        на мой ответ, пожалуйста, укажите ваш адрес.</p>
    <h2>Подобие оперативных новостей</h2>
    <p><strong>14 января 2018</strong> значительно обновил систему.</p>
    <p><strong>7 января 2018</strong> обновил ядро (Meltdown), всё ребутнул, если что-то не поднялось, — пишите.</p>
    <p><strong>4 мая 2015</strong> грандиозное обновление. Обновлена Django, добавлены тексты…
        Возможно, добавлены новые косяки :-) Пишите, если что.</p>
    <p><strong>6 декабря 2014</strong> обновлены важные компоненты. Могут сломаться
        интерактивные компоненты (<a href="online-tools/favicon-converter.html">конвертер</a> и
        <a href="online-tools/favicon-editor.html">редактор</a> иконок, <a href="chat/chat.html">чат</a>,
        отправка сообщений…). Если вы заметили проблемы,
        <a href="mailto:a.michurin@gmail.com?subject=BUGREPORT-2014-12">пишите на почту</a>.</p>
    <p><strong>6 октября 2014</strong> начался переезд.</p>
    <p><small>
            После двух лет счастливого поживания в Лондоне, сайт
            перебрался через Северное море и
            переехал в Алблассердам (Нидерланды).
            <a href="http://binged.it/YYkkW4" target="_blank">Здешний дата-центр</a>
            (на гугловых картах на этом месте пока
            <a href="https://goo.gl/maps/Pqi0z" target="_blank">чистое поле</a>)
            производит слегка противоречивое впечатление. Пока всё хорошо,
            всё работает на много стабильней, чем было в Лондоне,
            но когда что-то ломается, сервер может полностью пропасть с радаров
            на несколько часов. Надеюсь, что суммарно переезд даст
            всё же положительный эффект.
            <br>
            Заодно я обновил все компоненты
            фронтенда и бэкэнда. Что-то может сломаться. В любом месте.
            Если вы заметили ошибку, проблему, косяк… Пожалуйста,
            дайте мне знать.
            <br>
            Надёжнее всего, использовать для связи e-mail:
            <a href="mailto:a.michurin@gmail.com?subject=BUGREPORT">a.michurin@gmail.com</a>
            <br>
            Спасибо! Всем успехов!
        </small></p>
    <p><strong>11 апреля</strong> что-то поломалось у хостеров и сайт был недоступен
        целый час с 21 до 22 часов по Москве.</p>
    <p><strong>8 апреля</strong> обновились основные системные библиотеки. Если что-то
        сломалось — пишите.</p>
    <p><strong>В ночь с 25 на 26 января</strong> произведено <strong>грандиозное обновление ПО</strong>.
        Благодаря этому, появились новые возможности. Новый сервис
        <a href="chat/chat.html">чат</a>. Любимый многими,
        <a href="online-tools/favicon-converter.html">сервис создания favicon</a>
        стал выдавать ошибки не в виде
        иконок с информацией о неправильных форматах и прочем, а в виде
        понятных текстовых сообщений. Ну и плюс к этому, выложено несколько
        текстовых заметок. <strong>Но самое главное!</strong> Возможно, я что-то где-то
        недонастроил или упустил из виду. Если вы заметите глюки, опечатки,
        недоделки… Пожалуйста, пишите! Форма для обратной связи есть на каждой странице,
        но так как она тоже может сломаться, то писать на почту надёжней.
        a.michurin [собака] gmail.com. Спасибо!</p>
    <p><strong>А в ночь с 14 на 15 декабря 2013 года</strong> произведён глобальный апгрейд софта
        и накат новой версии скриптов. Если что-то сломал — пишите. Спасибо.</p>
    <p><strong>Небольшое предупреждение:</strong> в ночь с 26 на 27 ноября 2013 года
        сайт переехал на новый хостинг (в пределах того же провайдора :-)).
        Если заметите необычные глюки, то не сочтите за труд написать.
        Спасибо!</p>
    <p><strong>И ещё одно :-)</strong> В субботу 30 ноября был обновлён layout
        сайта (надеюсь, стало удобней) и немного подправлен JavaScript.
        Возможно есть глюки, о которых я не знаю.</p>
        {% endblock %}