{% load static %}
<!DOCTYPE html>
<html lang="ru">

<head>
    <base href="/static/blog/">
    <meta charset="utf-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>ТЕСТ</title>
    <meta name="title" content="Алексей Мичурин" />
    <meta itemprop="name" content="Алексей Мичурин" />
    <meta property="og:title" content="Алексей Мичурин" />

    <meta name="description"
        content="Персональный сайт Алексея Мичурина; информация обо мне; мои программы и заметки." />
    <meta itemprop="description"
        content="Персональный сайт Алексея Мичурина; информация обо мне; мои программы и заметки." />
    <meta property="og:description"
        content="Персональный сайт Алексея Мичурина; информация обо мне; мои программы и заметки." />

    <meta http-equiv="X-UA-Compatible" content="chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
    <link rel="canonical" href="index.html" />
    <link rel="author" href="https://plus.google.com/102469310318512061897/posts" />
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>

    <script src="js/onerror.min.js"></script>
    <script src="js/main.min.js"></script>
    <link rel="stylesheet" type="text/css" href="lib/main.css">


    <link rel="openid2.provider" href="https://www.google.com/accounts/o8/ud?source=profiles">
    <link rel="openid2.local_id" href="http://www.google.com/profiles/a.michurin">

</head>

<body>

    <div class="toc">
        <div class="toc_ctl">☰ Оглавление</div>
        <div class="toc_body">
            <ul>
                <li><a href="index.html">Первая страница</a></li>
                <li>Онлайн инструменты ▽<ul>
                        <li><a href="online-tools/favicon-editor.html">Редактор иконок favicon.ico онлайн</a></li>
                        <li><a href="online-tools/life-game.html">Игра «Жизнь» онлайн</a></li>
                        <li><a href="online-tools/mandelbrot.html">Онлайн навигатор по множеству (фракталу)
                                Мандельброта</a></li>
                        <li><a href="online-tools/favicon-converter.html">Онлайн конвертер PNG в favicon.ico</a></li>
                        <li><a href="online-tools/solar-system.html">Интерактивная схема солнечной системы</a></li>
                        <li><a href="online-tools/julian-day.html">Пересчёт дат в Юлианские дни</a></li>
                        <li><a href="online-tools/canvas-tranform-demo.html">Объяснение и онлайн-демо, как работает
                                HTML5 canvas transform</a></li>
                        <li><a href="online-tools/perlin-noise-tileable.html">Онлайн генератор периодических фонов</a>
                        </li>
                        <li><a href="online-tools/hsv2rgb.html">Онлайн конвертер цветов из HSV в RGB</a></li>
                        <li><a href="online-tools/url-escape-online.html">Онлайн URL-перекодировщик</a></li>
                        <li><a href="online-tools/qr-code.html">Онлайн генератор QR-кодов</a></li>
                        <li><a href="online-tools/hypercube.html">Покрутить 4D-гиперкуб</a></li>
                        <li><a href="online-tools/map.html">Получение географических координат точки на карте</a></li>
                        <li><a href="online-tools/minesweeper.html">«Сапёр» на бесконечном поле онлайн</a></li>
                        <li><a href="online-tools/tgarden.html">Черепаший язык онлайн</a></li>
                        <li><a href="online-tools/weight-bmi.html">Калькулятор индекса массы тела</a></li>
                        <li>Для самых маленьких ▽<ul>
                                <li><a href="online-tools/toys/index.html">Рисовалка для детей до трёх лет</a></li>
                                <li><a href="online-tools/toys/robot/index.html">«Робот» для детей с трёх-четырёх
                                        лет</a></li>
                                <li><a href="online-tools/toys/piglet/intro.html">«Морской бой» для самых маленьких</a>
                                </li>
                            </ul>
                        </li>
                        <li><a href="chat/index.html">Простой чат</a></li>
                    </ul>
                </li>
                <li><a href="tools/index.html">Инструменты ▽</a>
                    <ul>
                        <li>Docker ▽<ul>
                                <li><a href="tools/docker.html">Docker устанавливаем и разбираемся</a></li>
                                <li><a href="tools/docker-ror.html">Пример использования Docker для изучения Ruby on
                                        Rails</a></li>
                                <li><a href="tools/docker-mysql.html">Пример использования Docker для запуска MySQL</a>
                                </li>
                                <li><a href="tools/docker-root.html">Почему docker требует root-прав</a></li>
                            </ul>
                        </li>
                        <li>JavaScript ▽<ul>
                                <li><a href="tools/bookmarklet.html">Букмарклеты для JavaSctipt/HTML-разработчика</a>
                                </li>
                                <li><a href="tools/javascript-use-strict.html">Использование "use strict" в
                                        JavaScript</a></li>
                                <li><a href="tools/javascript-tips.html">Небольшая памятка по JavaScript</a></li>
                                <li><a href="tools/javascript-minify.html">Простой минификатор/оптимизатор
                                        JavaScript</a></li>
                                <li><a href="tools/chrome-extansions.html">Мои плагины для хрома</a></li>
                            </ul>
                        </li>
                        <li>Python ▽<ul>
                                <li><a href="tools/python-methods.html">Сводная таблица методов основных типов данных
                                        Python 2 и 3</a></li>
                                <li><a href="tools/python-tools.html">Инструменты для Python-разработчика</a></li>
                                <li><a href="tools/python-cli.html">Удобная командная строка Python</a></li>
                                <li><a href="tools/python-leaks.html">Утечки памяти в Python: метод <code>__del__</code>
                                        и сборка мусора</a></li>
                                <li><a href="tools/python-threads.html">Работа с нитями в Python</a></li>
                            </ul>
                        </li>
                        <li>Файловая система ▽<ul>
                                <li><a href="tools/files.html">FS: перемещение, переименование, архивирование</a></li>
                                <li><a href="tools/systemd-sshfs.html">Монтирование sshfs с помощью systemd</a></li>
                            </ul>
                        </li>
                        <li>Shell ▽<ul>
                                <li><a href="tools/bash-history.html">Работа с историей команд bash</a></li>
                                <li><a href="tools/bash.html">Консоль/bash. настройка</a></li>
                                <li><a href="tools/email-send-by-unix-shell-script.html">Отправка e-mail с картинками
                                        чистым shell скриптом</a></li>
                                <li><a href="tools/audio.html">Конвертирование аудио</a></li>
                                <li><a href="tools/video.html">Конвертирование видео</a></li>
                            </ul>
                        </li>
                        <li><a href="tools/cpu-frequency.html">Управляем тактовой частотой процессора</a></li>
                        <li><a href="tools/shared-ssh-mercurial.html">Совместный доступ к mercurial по SSH</a></li>
                        <li><a href="tools/net-access.html">Передача файлов по сети</a></li>
                        <li><a href="tools/security.html">Безопасное хранение и передача данных</a></li>
                        <li><a href="tools/notifier.html">Нотификатор</a></li>
                        <li><a href="tools/setup-xorg.html">Xorg. Настройка</a></li>
                        <li><a href="tools/xorg-keyboard.html">Xorg. Настройка нестандартной клавиатуры</a></li>
                        <li><a href="tools/synergy.html">Synergy: Много мониторов с одной клавиатурой и мышкой</a></li>
                        <li><a href="tools/ssh.html">Ssh. Настройка</a></li>
                        <li><a href="tools/ssh-tunnel.html">Ssh. Настройка туннелирования через NAT и firewall</a></li>
                        <li><a href="tools/pidgin.html">Pidgin для хакеров</a></li>
                        <li><a href="tools/printing.html">Печать</a></li>
                        <li><a href="tools/usb-mount-umount.html">USB-Flash. монтирование</a></li>
                        <li><a href="tools/udev-mtp.html">Доступ к данным по MTP</a></li>
                        <li><a href="tools/aspell.html">Настройка aspell</a></li>
                        <li><a href="tools/iptables.html">Iptables. Port knocking</a></li>
                        <li><a href="tools/sudo.html">Sudo, sudoers, visudo</a></li>
                        <li><a href="tools/swap-file.html">Swap в файле в Linux</a></li>
                        <li><a href="tools/kind-kill.html">Добрый kill (gdb)</a></li>
                        <li><a href="tools/remount-resize-tmpfs.html">Изменить размер tmp (tmpfs)</a></li>
                        <li><a href="tools/usb-archlinux.html">Установка Arch Linux на USB-Flash</a></li>
                        <li><a href="tools/qemu.html">Эмуляция в QEMU</a></li>
                        <li><a href="tools/grub2.html">GRUB2 вручную</a></li>
                        <li><a href="tools/system.html">Системные утилиты</a></li>
                        <li><a href="tools/vi-exrc.html">Настройка редактора vi</a></li>
                        <li><a href="tools/vi-guide.html">Краткое руководство по vi</a></li>
                        <li><a href="tools/html.html">HTML-валидатор</a></li>
                        <li><a href="tools/vds-intro.html">VDS/VPS</a>
                            <ul>
                                <li><a href="tools/vds-setup.html">Начальная настройка</a></li>
                                <li><a href="tools/vds-nginx-build.html">Сборка nginx</a></li>
                                <li><a href="tools/vds-nginx.html">Настройка nginx</a></li>
                                <li><a href="tools/vds-uwsgi-build.html">Сборка uWSGI (Django+CGI)</a></li>
                                <li><a href="tools/vds-uwsgi-config.html">Настройка uWSGI</a></li>
                            </ul>
                        </li>
                        <li><a href="tools/netctl-on-ubuntu.html">Управление сетью в Ubuntu с помощью netctl (Arch
                                Linux)</a></li>
                        <li><a href="tools/wifi-linux.html">Настройка WiFi точки доступа под Linux</a></li>
                    </ul>
                </li>
                <li>CS: Искусственный интеллект ▽<ul>
                        <li><a href="computer-science/ml-precision-recall.html">Метрики в машинном обучении: precision,
                                recall и не только</a></li>
                        <li><a href="computer-science/precision-and-recall.html">Оценка точности классификатора</a></li>
                        <li><a href="computer-science/artificial-intelligence/index.html">Нейронные сети на простейших
                                примерах</a>
                            <ul>
                                <li><a href="computer-science/artificial-intelligence/what-is-neuron.html">Что такое
                                        нейрон (очень коротко)</a></li>
                                <li><a href="computer-science/artificial-intelligence/task-for-one-neuron.html">Пример
                                        задачи и демонстрация, как нейрон её решает</a></li>
                                <li><a href="computer-science/artificial-intelligence/learning-one-neuron.html">Пример
                                        обучения нейрона</a></li>
                                <li><a href="computer-science/artificial-intelligence/behind-the-scenes.html">Что
                                        осталось за сценой в задаче для одного нейрона</a></li>
                            </ul>
                        </li>
                        <li><a href="computer-science/ml-decision-tree/intro.html">Деревья принятия решений</a></li>
                        <li><a href="computer-science/bayes/bayes.html">Байесовское машинное обучение</a></li>
                        <li>Примеры кода numpy, scipy, matplotlib<ul>
                                <li><a href="computer-science/scipy/scipy_least_squares.html">Метод наименьших
                                        квадратов</a></li>
                                <li><a href="computer-science/scipy/document_distance.html">Построение системы
                                        рекомендаций, на основе текстов</a></li>
                                <li><a href="computer-science/scipy/reaction_diffusion.html">Диффузионные реакции
                                        (реакции с диффузией)</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li>CS: Разное ▽<ul>
                        <li><a href="computer-science/rsa.html">RSA-шифрование на пальцах</a></li>
                        <li><a href="computer-science/sqrt-decomposition.html">SQRT-декомпозиция</a></li>
                        <li><a href="computer-science/recursion.html">О пользе рекурсии</a></li>
                        <li><a href="computer-science/bisect.html">Дискретная бисекция</a></li>
                        <li><a href="computer-science/top-k.html">Top-K из N (куча)</a></li>
                        <li><a href="computer-science/fast-power-fibonacci-numbers.html">Быстрое возведение в степень и
                                подсчёт чисел Фибоначчи</a></li>
                        <li><a href="computer-science/boolean-logic.html">Алгебра логики</a></li>
                        <li><a href="computer-science/cpp-misc.html">Небольшая памятка по C++</a></li>
                        <li><a href="computer-science/halting-problem.html">Проблема останова</a></li>
                        <li><a href="servers/index.html">Примеры простейших серверов на Python</a>
                            <ul>
                                <li><a href="servers/one-child-per-client.html">Простейший форкающийся сервер</a></li>
                                <li><a href="servers/prefork-server.html">Простейший prefork-сервер</a></li>
                                <li><a href="servers/one-thread-per-client.html">Простейший многонитевой сервер</a></li>
                                <li><a href="servers/thread-with-sharing.html">Многонитевой сервер с простым
                                        взаимодействием между нитями</a></li>
                                <li><a href="servers/asynchronous.html">Асинхронный сервер</a></li>
                            </ul>
                        </li>
                        <li><a href="computer-science/cumulative_moving_standard_deviation.html">Кумулятивное вычисление
                                статистических характеристик</a></li>
                        <li><a href="computer-science/five-problems.html">Пять задач, которые хорошо бы уметь решать за
                                час</a></li>
                    </ul>
                </li>
                <li>Теория относительности ▽<ul>
                        <li><a href="special-relativity/about.html">Об этих заметках</a></li>
                        <li><a href="special-relativity/frame.html">Пространство-время как геометрия</a></li>
                        <li><a href="special-relativity/phys.html">Физическая интерпретация</a></li>
                        <li><a href="special-relativity/c-vel.html">Универсальность скорости света</a></li>
                        <li><a href="special-relativity/sys-eq.html">Эквивалентность инерциальных систем отсчёта</a>
                        </li>
                        <li><a href="special-relativity/rel.html">Относительность пространственных и временных
                                интервалов</a></li>
                        <li><a href="special-relativity/c.html">Движение быстрее света</a></li>
                        <li><a href="special-relativity/twix.html">Парадокс близнецов</a></li>
                        <li><a href="special-relativity/concl.html">Заключение</a></li>
                    </ul>
                </li>
                <li>Теория вероятностей ▽<ul>
                        <li><a href="probability-theory/illusions.html">Как нас обманывает интуиция</a></li>
                        <li><a href="probability-theory/Monty-Hall-problem.html">Парадокс Монти Холла</a></li>
                        <li><a href="probability-theory/two-envelopes-problem.html">Парадокс двух конвертов</a></li>
                    </ul>
                </li>
                <li>Квантовая механика ▽<ul>
                        <li><a href="quantum-mech/uncertainty-principle.html">Принцип неопределённости на классических
                                примерах</a></li>
                    </ul>
                </li>
                <li>Фракталы ▽<ul>
                        <li><a href="fractals/dim.html">Фрактальная размерность</a></li>
                        <li><a href="fractals/trees.html">Фрактальные деревья</a></li>
                        <li><a href="fractals/app.html">Применение фракталов</a></li>
                        <li><a href="fractals/complex-dim.html">Комплексная размерность</a></li>
                    </ul>
                </li>
                <li><a href="tetracub/index.html">Гиперкуб</a></li>
                <li><a href="education/index.html">Обучение и преподавание ▽</a>
                    <ul>
                        <li><a href="education/school-help.html">О репетиторстве</a></li>
                        <li><a href="education/test-errors.html">Типичные ошибки на экзаменах</a></li>
                        <li><a href="education/test-prepare.html">Лёгкая подготовка к экзаменам</a></li>
                        <li><a href="education/test-win.html">Как отвечать на экзамене</a></li>
                    </ul>
                </li>
                <li><a href="health/howto-lose-fat.html">Как я худел</a></li>
                <li>Личное ▽<ul>
                        <li><a href="private/about.html">Обо мне (как бы резюме)</a></li>
                        <li><a href="private/acknowledge.html">Благодарности</a></li>
                        <li><a href="private/my-errors.html">Мои ошибки</a></li>
                        <li><a href="we/index.html">Немного фотографий</a></li>
                        <li><a href="private/nonsense.html">Копирование этих материалов</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>

    <div
        style="float: right; border: 1px solid #000; border-radius: .5em; padding: .1em 1em; margin: .5em; background: #ddf;">
        <a target="_blank" href="http://michurin.github.io/" style="text-decoration: none; color: #00f;">english</a>
    </div>
    {% block content%}
	{% endblock %}
    <hr>
    <div class="ya-site-form ya-site-form_inited_no"
        onclick="return {'action':'http://www.michurin.net/yandex-serch-results.html','arrow':false,'bg':'transparent','fontsize':12,'fg':'#000000','language':'ru','logo':'rb','publicname':'Поиск по www.michurin.net','suggest':true,'target':'_self','tld':'ru','type':2,'searchid':2115238,'webopt':true,'websearch':false,'input_fg':'#000000','input_bg':'#ffffff','input_fontStyle':'normal','input_fontWeight':'normal','input_placeholder':'Поиск по сайту от Яндекса','input_placeholderColor':'#999999','input_borderColor':'#333333'}">
        <form action="http://yandex.ru/sitesearch" method="get" target="_self"><input type="hidden" name="searchid"
                value="2115238" /><input type="hidden" name="l10n" value="ru" /><input type="hidden" name="reqenc"
                value="utf-8" /><input type="text" name="text" value="" /><input type="submit" value="Найти" /></form>
    </div>
    <style type="text/css">
        .ya-page_js_yes .ya-site-form_inited_no {
            display: none;
        }
    </style>
    <script
        type="text/javascript">(function (w, d, c) { var s = d.createElement('script'), h = d.getElementsByTagName('script')[0], e = d.documentElement; if ((' ' + e.className + ' ').indexOf(' ya-page_js_yes ') === -1) { e.className += ' ya-page_js_yes'; } s.type = 'text/javascript'; s.async = true; s.charset = 'utf-8'; s.src = (d.location.protocol === 'https:' ? 'https:' : 'http:') + '//site.yandex.net/v2.0/js/all.js'; h.parentNode.insertBefore(s, h); (w[c] || (w[c] = [])).push(function () { Ya.Site.Form.init() }) })(window, document, 'yandex_site_callbacks');</script>




    <hr>
    <div class="mail">
        <textarea rows="7" placeholder="Написать письмо автору"></textarea>
        <br>
        <button>Отправить</button>
    </div>


    <!-- Yandex.Metrika counter -->
    <script type="text/javascript">
        (function (d, w, c) {
            (w[c] = w[c] || []).push(function () {
                try {
                    w.yaCounter24820832 = new Ya.Metrika({
                        id: 24820832,
                        webvisor: true,
                        clickmap: true,
                        trackLinks: true,
                        accurateTrackBounce: true,
                        trackHash: true
                    });
                } catch (e) { }
            });

            var n = d.getElementsByTagName("script")[0],
                s = d.createElement("script"),
                f = function () { n.parentNode.insertBefore(s, n); };
            s.type = "text/javascript";
            s.async = true;
            s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js";

            if (w.opera == "[object Opera]") {
                d.addEventListener("DOMContentLoaded", f, false);
            } else { f(); }
        })(document, window, "yandex_metrika_callbacks");
    </script>
    <noscript>
        <div><img src="http://mc.yandex.ru/watch/24820832" style="position:absolute; left:-9999px;" alt="" /></div>
    </noscript>
    <!-- /Yandex.Metrika counter -->

    <script type="text/javascript">

        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-39255637-1']);
        _gaq.push(['_trackPageview']);

        (function () {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'stats.g.doubleclick.net/dc.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();

    </script>

</body>

</html>