{% extends 'main/wrapper.html' %}
{% block content %}
<!--==============Content Area=================-->

<div class="container">
  <!--============== Main Features ==============-->

  <div class="row mainFeatures" id="features">
    <div class="col-sm-6 col-md-4">
      <div class="img-thumbnail"> <img src="images/secure_img.png" width="85" height="88" alt="secure">
        <div class="caption">
          <h4>Кому подойдут наши курсы</h4>
          <p>Данный курс подайдет начинающим программистам которые хотят научиться делать сайты на django и Flasc</p>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-4">
      <div class="img-thumbnail"> <img src="images/fast_img.png" width="85" height="88" alt="secure">
        <div class="caption">
          <h4>Легкость в изучении</h4>
          <p>Данный курс был специально разработан для быстрого изучения материала</p>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-4 col-sm-offset-3 col-md-offset-0">
      <div class="img-thumbnail"> <img src="images/support_img.png" width="85" height="88" alt="secure">
        <div class="caption">
          <h4>Техническая поддежка и помощ в изучении</h4>
          <p>Наши преподаватели всегда готовы ответить на ваши вопросы и помочь в изучении.</p>
        </div>
      </div>
    </div>
  </div>

  <!-- ============== Other Features ============== -->

  <div class="row PageHead">
    <div class="col-md-12">
      <h1>На нашем сайте вы найдете<br>много интересного и полезного</h1>
      <h3>Наш девиз: всё сложное простым языком</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6 features"> <img src="images/setup_icon.png" alt="icon" class="img-responsive">
      <h4>django</h4>
      <p>As soon as you make a successful payment via PayPal or Google Checkout, your web hosting and domain names will be activated immediately. No waiting time whatsoever.</p>
    </div>
    <div class="col-sm-6 features"> <img src="images/backup_icon.png" alt="icon" class="img-responsive">
      <h4>Flask</h4>
      <p>Your hosting account is backed up 4 times a day as standard, with our backup integration. We use dedicated backup servers, providing fast & easy individual file rollback abilities.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6 features"> <img src="images/script_icon.png" alt="icon" class="img-responsive">
      <h4>Дерматовенерология</h4>
      <p>Web Developers love using version control systems. All of our hosting accounts can use GIT & SVN command line tools on our servers. Simply request SSH access to get started.</p>
    </div>
    <div class="col-sm-6 features"> <img src="images/git_icon.png" alt="icon" class="img-responsive">
      <h4>Также много полезной информации</h4>
      <p>All our hosting accounts allow you to install popular software such as Wordpress, Drupal, Joolma and Magento in one easy step. Upgrading your software is just as easy!</p>
    </div>
  </div>
  <!-- <div class="row">
    <div class="col-sm-6 features"> <img src="images/cpanel_icon.png" alt="icon" class="img-responsive">
      <h4>cPanel Included</h4>
      <p>All hosting accounts come with the latest version of cPanel. This makes life easy for you to do routine tasks such as setting up email addresses and managing MySQL databases.</p>
    </div>
    <div class="col-sm-6 features"> <img src="images/php_icon.png" alt="icon" class="img-responsive">
      <h4>Latest PHP &amp; MySQL</h4>
      <p>Our network runs the latest stable and secure versions of PHP & MySQL. We also implement strict security and firewall rules protecting your website from unwanted visitors 24/7.</p>
    </div>
  </div> -->

  <!--============== Features Layout ==============-->

  <!-- <div class="row FeatLayout">
    <div class="col-md-5 Featimg"> <img src="images/features_img.png" alt="feature" class="img-responsive center-block"></div>
    <div class="col-md-7">
      <h1>Features Layout</h1>
      <p class="lead">A left aligned image and content with tick</p>
      <p>As soon as you make a successful payment via PayPal or Google Checkout, your web hosting and domain names will be activated immediately. No waiting time whatsoever. Our network runs the latest stable and secure versions of PHP &amp; MySQL. </p>
      <ul class="ticklist">
        <li>Dedicated Servers</li>
        <li>cPanel Access</li>
        <li>MySQL Databases</li>
        <li>Super Bandwidth</li>
        <li>Web Builder</li>
        <li>Web Secutity</li>
      </ul>
    </div>
  </div> -->

  <!--============== Testimonials ==============-->
  <!-- <div class="row PageHead" id="testimonials">
    <div class="col-md-12">
      <h1>Testimonials</h1>
      <h3>Kind words from our valuable customers</h3>
    </div>
  </div>
  <div class="row Testimonials">
    <div class="col-sm-6 col-md-4 tm-data">
      <div class="img-thumbnail"> <img src="images/client1.jpg" alt="client">
        <div class="caption">
          <p>Flathost servers are having high physical security and power redundancy Your data will be secure with us.</p>
          <h5>James, Envato</h5>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-4 tm-data">
      <div class="img-thumbnail"> <img src="images/client2.jpg" alt="client">
        <div class="caption">
          <p>With our ultra mordern servers and optical cables, your data will be transfered to end user in milliseconds.</p>
          <h5>Mariya, Activeden</h5>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-4 col-sm-offset-3 col-md-offset-0 tm-data">
      <div class="img-thumbnail"> <img src="images/client3.jpg" alt="client">
        <div class="caption">
          <p>We have a dedicated team of support for sales and support to help you in anytime. You can also chat with us.</p>
          <h5>Steven, Microlancer</h5>
        </div>
      </div>
    </div>
  </div> -->

  <!--============== Partners List ==============-->

  <!-- <div class="row PartnersList"> <img src="images/logo1.jpg" alt="logo"> <img src="images/logo2.jpg" alt="logo"> <img src="images/logo3.jpg" alt="logo"> <img src="images/logo4.jpg" alt="logo"> <img src="images/logo5.jpg" alt="logo"> </div> -->

  <!--============== Pricing ==============-->
  <!-- <div class="row PageHead" id="pricing">
    <div class="col-md-12">
      <h1>Plans & Pricing</h1>
      <h3>Tailored plans and pricing suits your needs</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6 col-md-3 PlanPricing">
      <div class="planName"> <span class="price">$15</span>
        <h3>Standard</h3>
        <p>Monthly Plan</p>
      </div>
      <div class="planFeatures">
        <ul>
          <li> 1 GB Storage Space</li>
          <li>10 GB Monthly Bandwidth</li>
          <li>10 Sub-domains</li>
          <li>25 Email Accounts</li>
          <li>Control panel</li>
          <li>24/7 Support</li>
        </ul>
      </div>
      <p> <a href="#" role="button" class="btn btn-success btn-lg">Sign Up </a> </p>
    </div>
    <div class="col-sm-6 col-md-3 PlanPricing">
      <div class="planName"> <span class="price">$29</span>
        <h3>Standard</h3>
        <p>Monthly Plan</p>
      </div>
      <div class="planFeatures">
        <ul>
          <li> 5 GB Storage Space</li>
          <li>50 GB Monthly Bandwidth</li>
          <li>20 Sub-domains</li>
          <li>50 Email Accounts</li>
          <li>Control panel</li>
          <li>24/7 Support</li>
        </ul>
      </div>
      <p> <a href="#" role="button" class="btn btn-success btn-lg">Sign Up </a> </p>
    </div>
    <div class="col-sm-6 col-md-3 PlanPricing Recommended">
      <div class="planName"> <span class="price">$67</span>
        <h3>Standard</h3>
        <p>Monthly Plan</p>
      </div>
      <div class="planFeatures">
        <ul>
          <li> 10 GB Storage Space</li>
          <li>Unlimited Bandwidth</li>
          <li>50 Sub-domains</li>
          <li>100 Email Accounts</li>
          <li>Control panel</li>
          <li>24/7 Support</li>
        </ul>
      </div>
      <p> <a href="#" role="button" class="btn btn-danger btn-lg">Sign Up </a> </p>
    </div>
    <div class="col-sm-6 col-md-3 PlanPricing">
      <div class="planName"> <span class="price">$99</span>
        <h3>Standard</h3>
        <p>Monthly Plan</p>
      </div>
      <div class="planFeatures">
        <ul>
          <li> 20 GB Storage Space</li>
          <li>Unlimited Bandwidth</li>
          <li>100 Sub-domains</li>
          <li>200 Email Accounts</li>
          <li>Control panel</li>
          <li>24/7 Support</li>
        </ul>
      </div>
      <p> <a href="#" role="button" class="btn btn-success btn-lg">Sign Up </a> </p>
    </div>
  </div> -->

  <!--============== Compare Plans ==============-->

  <div class="row PageHead">
    <div class="col-md-12">
      <h1>Compare Plans</h1>
      <h3>Another Plans page with comparison table</h3>
    </div>
  </div>
  <div class="row ComparePlans">
    <div class="col-md-3 CompareList hidden-sm hidden-xs">
      <div class="planHead1"></div>
      <div class="planFeatures">
        <ul>
          <li>Setup Fee</li>
          <li> Multi Domain </li>
          <li> Storage Space</li>
          <li>Monthly Bandwidth</li>
          <li> MySQL Databases</li>
          <li>Sub-domains</li>
          <li>Email Accounts</li>
          <li> Shared 128bit SSL</li>
          <li>Control panel</li>
          <li>24/7 Support</li>
        </ul>
      </div>
    </div>
    <div class="col-sm-6 col-md-3 pricing1">
      <div class="planHead2">
        <h3>STANDARD</h3>
      </div>
      <div class="planFeatures">
        <ul class="visible-sm visible-xs">
          <li>Setup Fee : 1000</li>
          <li> Multi Domain : Up to 2 </li>
          <li> Storage Space 1 GB</li>
          <li>Monthly Bandwidth 10 GB</li>
          <li> MySQL Databases : 5</li>
          <li>Sub-domains : 2</li>
          <li>Email Accounts : 25</li>
          <li> Shared 128bit SSL : No</li>
          <li>Control panel : Yes</li>
          <li>24/7 Support : No</li>
        </ul>
        <ul class="hidden-sm hidden-xs">
          <li>1000</li>
          <li> Up to 2 </li>
          <li> 1 GB</li>
          <li>10 GB</li>
          <li> 5</li>
          <li>2</li>
          <li>25</li>
          <li><img src="images/cross.png" alt="cross"> </li>
          <li> <img src="images/tick.png" alt="tick"></li>
          <li><img src="images/cross.png" alt="cross"> </li>
        </ul>
      </div>
      <p> <a href="#" role="button" class="btn btn-success btn-lg">Sign Up </a> </p>
    </div>
    <div class="col-sm-6 col-md-3 pricing2">
      <div class="planHead3">
        <h3>DEDICATED</h3>
      </div>
      <div class="planFeatures">
        <ul class="visible-sm visible-xs">
          <li>Setup Fee : 3000</li>
          <li> Multi Domain : Up to 2 </li>
          <li> Storage Space 1 GB</li>
          <li>Monthly Bandwidth 10 GB</li>
          <li> MySQL Databases : 5</li>
          <li>Sub-domains : 2</li>
          <li>Email Accounts : 25</li>
          <li> Shared 128bit SSL : No</li>
          <li>Control panel : Yes</li>
          <li>24/7 Support : Yes</li>
        </ul>
        <ul class="hidden-sm hidden-xs">
          <li>3000</li>
          <li> Up to 2 </li>
          <li> 1 GB</li>
          <li>10 GB</li>
          <li> 5</li>
          <li>2</li>
          <li>25</li>
          <li><img src="images/cross.png" alt="cross"> </li>
          <li> <img src="images/tick.png" alt="tick"></li>
          <li><img src="images/tick.png" alt="tick"> </li>
        </ul>
      </div>
      <p> <a href="#" role="button" class="btn btn-danger btn-lg">Sign Up </a> </p>
    </div>
    <div class="col-sm-6 col-md-3 col-sm-offset-3 col-md-offset-0 pricing1">
      <div class="planHead2">
        <h3>MANAGED</h3>
      </div>
      <div class="planFeatures">
        <ul class="visible-sm visible-xs">
          <li>Setup Fee : 5000</li>
          <li> Multi Domain : Up to 2 </li>
          <li> Storage Space 1 GB</li>
          <li>Monthly Bandwidth 10 GB</li>
          <li> MySQL Databases : 5</li>
          <li>Sub-domains : 2</li>
          <li>Email Accounts : 25</li>
          <li> Shared 128bit SSL : Yes</li>
          <li>Control panel : Yes</li>
          <li>24/7 Support : Yes</li>
        </ul>
        <ul class="hidden-sm hidden-xs">
          <li>5000</li>
          <li> Up to 2 </li>
          <li> 1 GB</li>
          <li>10 GB</li>
          <li> 5</li>
          <li>2</li>
          <li>25</li>
          <li><img src="images/tick.png" alt="tick"> </li>
          <li> <img src="images/tick.png" alt="tick"></li>
          <li><img src="images/tick.png" alt="tick"> </li>
        </ul>
      </div>
      <p> <a href="#" role="button" class="btn btn-success btn-lg">Sign Up </a> </p>
    </div>
  </div>
</div>
<!--Container Closed-->

<!--============== Contact us ==============-->

<div class="container" id="contact">
  <div class="row PageHead">
    <div class="col-md-12">
      <h1>Contact Us</h1>
      <h3>Keep in touch with us. we are here to help you</h3>
    </div>
  </div>
  <div class="row ContactUs">
    <div class="col-md-6">
      <div class="row">
        <div class="col-sm-6">
          <h4> Australia </h4>
          <address>
          <strong>Flat Host Pty Ltd</strong><br>
          13/2 Elizabeth Street<br>
          Melbourne VIC 30007<br>
          Australia<br>
          <abbr title="Phone">P:</abbr> +61 3 8376 6284<br>
          <br>
          </address>
        </div>
        <div class="col-sm-6">
          <h4>India</h4>
          <address>
          <strong>Flat Host Pty Ltd</strong><br>
          MG Road<br>
          Pulleppady Jn<br>
          Kochi, India<br>
          <abbr title="Phone">P:</abbr>+91 9 8376 6280<br>
          <br>
          </address>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 mapwrap">
          <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3151.835837652496!2d144.955431!3d-37.817313999999996!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xedc33f230d1355b1!2sEnvato+Pty+Ltd!5e0!3m2!1sen!2sin!4v1408780745585" width="100%" height="250" frameborder="0" style="border:0"></iframe>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <form class="form" id="phpcontactform">
        <div class="form-group">
          <input class="form-control" type="text" placeholder="Full Name" name="name" id="name">
        </div>
        <div class="form-group">
          <input class="form-control" type="email" placeholder="Email ID" name="email" id="email">
        </div>
        <div class="form-group">
          <input class="form-control" type="text" placeholder="Mobile Number" name="mobile" id="mobile">
        </div>
        <div class="form-group">
          <textarea class="form-control" rows="10" name="message" placeholder="Your Message" id="message"></textarea>
        </div>
        <div class="form-group">
          <p>
            <input class="btn btn-success btn-lg" type="submit" value="Send Message" />
          </p>
          <span class="loading"></span> </div>
      </form>
    </div>
  </div>
</div>

{% endblock %}