{% extends 'main/wrapper.html' %}
{% block content %}
    <div class="container">
        <h4>Модуль математики</h4>
    </div>
    <div class="col-12 list" data-check-all="checkAll">

        <div class="card d-flex flex-row mb-3">
            <a class="d-flex" href="Pages.Product.Detail.html">
                <img src="img/fat-rascal-thumb.jpg" alt="Fat Rascal"
                    class="list-thumbnail responsive border-0 card-img-left" />
            </a>
            <div class="pl-2 d-flex flex-grow-1 min-width-zero">
                <div
                    class="card-body align-self-center d-flex flex-column flex-lg-row justify-content-between min-width-zero align-items-lg-center">
                    <a href="Pages.Product.Detail.html" class="w-40 w-sm-100">
                        <p class="list-item-heading mb-0 truncate">Fat Rascal</p>
                    </a>
                    <p class="mb-0 text-muted text-small w-15 w-sm-100">Cupcakes</p>
                    <p class="mb-0 text-muted text-small w-15 w-sm-100">13.04.2018</p>
                    <div class="w-15 w-sm-100">
                        <span class="badge badge-pill badge-primary">PROCESSED</span>
                    </div>
                </div>
                <label class="custom-control custom-checkbox mb-1 align-self-center pr-4">
                    <input type="checkbox" class="custom-control-input">
                    <span class="custom-control-label">&nbsp;</span>
                </label>
            </div>
        </div>
{% endblock %}