{% extends 'main/wrapper.html' %}
{% block content %}
    <div class="container">
        <h4>Модуль медицины</h4>
    </div>
    <div class="row">
        <div class="col-12 list" data-check-all="checkAll">

            <div class="card d-flex flex-row mb-3">
                <a class="d-flex" href="Pages.Product.Detail.html">
                    <img src="img/fat-rascal-thumb.jpg" alt="Fat Rascal"
                        class="list-thumbnail responsive border-0 card-img-left" />
                </a>
                <div class="pl-2 d-flex flex-grow-1 min-width-zero">
                    <div
                        class="card-body align-self-center d-flex flex-column flex-lg-row justify-content-between min-width-zero align-items-lg-center">
                        <a href="Pages.Product.Detail.html" class="w-40 w-sm-100">
                            <p class="list-item-heading mb-0 truncate">Fat Rascal</p>
                        </a>
                        <p class="mb-0 text-muted text-small w-15 w-sm-100">Cupcakes</p>
                        <p class="mb-0 text-muted text-small w-15 w-sm-100">13.04.2018</p>
                        <div class="w-15 w-sm-100">
                            <span class="badge badge-pill badge-primary">PROCESSED</span>
                        </div>
                    </div>
                    <label class="custom-control custom-checkbox mb-1 align-self-center pr-4">
                        <input type="checkbox" class="custom-control-input">
                        <span class="custom-control-label">&nbsp;</span>
                    </label>
                </div>
            </div>


            <div class="card d-flex flex-row mb-3">
                <a class="d-flex" href="Pages.Product.Detail.html">
                    <img src="img/goose-breast-thumb.jpg" alt="Goose Breast"
                        class="list-thumbnail responsive border-0 card-img-left" />
                </a>
                <div class="pl-2 d-flex flex-grow-1 min-width-zero">
                    <div
                        class="card-body align-self-center d-flex flex-column flex-lg-row justify-content-between min-width-zero align-items-lg-center">
                        <a href="Pages.Product.Detail.html" class="w-40 w-sm-100">
                            <p class="list-item-heading mb-0 truncate">Goose Breast</p>
                        </a>
                        <p class="mb-0 text-muted text-small w-15 w-sm-100">Cakes</p>
                        <p class="mb-0 text-muted text-small w-15 w-sm-100">21.03.2018</p>
                        <div class="w-15 w-sm-100">
                            <span class="badge badge-pill badge-primary">PROCESSED</span>
                        </div>
                    </div>
                    <label class="custom-control custom-checkbox mb-1 align-self-center pr-4">
                        <input type="checkbox" class="custom-control-input">
                        <span class="custom-control-label">&nbsp;</span>
                    </label>
                </div>
            </div>

            <div class="card d-flex flex-row mb-3">
                <a class="d-flex" href="Pages.Product.Detail.html">
                    <img src="img/petit-gateau-thumb.jpg" alt="Petit Gateau"
                        class="list-thumbnail responsive border-0 card-img-left" />
                </a>
                <div class="pl-2 d-flex flex-grow-1 min-width-zero">
                    <div
                        class="card-body align-self-center d-flex flex-column flex-lg-row justify-content-between min-width-zero align-items-lg-center">
                        <a href="Pages.Product.Detail.html" class="w-40 w-sm-100">
                            <p class="list-item-heading mb-0 truncate">Petit Gâteau</p>
                        </a>
                        <p class="mb-0 text-muted text-small w-15 w-sm-100">Cupcakes</p>
                        <p class="mb-0 text-muted text-small w-15 w-sm-100">19.02.2018</p>
                        <div class="w-15 w-sm-100">
                            <span class="badge badge-pill badge-secondary">ON HOLD</span>
                        </div>
                    </div>
                    <label class="custom-control custom-checkbox mb-1 align-self-center pr-4">
                        <input type="checkbox" class="custom-control-input">
                        <span class="custom-control-label">&nbsp;</span>
                    </label>
                </div>
            </div>

            <div class="card d-flex flex-row mb-3">
                <a class="d-flex" href="Pages.Product.Detail.html">
                    <img src="img/salzburger-nockerl-thumb.jpg" alt="Salzburger Nockerl"
                        class="list-thumbnail responsive border-0 card-img-left" />
                </a>
                <div class="pl-2 d-flex flex-grow-1 min-width-zero">
                    <div
                        class="card-body align-self-center d-flex flex-column flex-lg-row justify-content-between min-width-zero align-items-lg-center">
                        <a href="Pages.Product.Detail.html" class="w-40 w-sm-100">
                            <p class="list-item-heading mb-0 truncate">Salzburger Nockerl</p>
                        </a>
                        <p class="mb-0 text-muted text-small w-15 w-sm-100">Desserts</p>
                        <p class="mb-0 text-muted text-small w-15 w-sm-100">14.02.2018</p>
                        <div class="w-15 w-sm-100">
                            <span class="badge badge-pill badge-primary">PROCESSED</span>
                        </div>
                    </div>
                    <label class="custom-control custom-checkbox mb-1 align-self-center pr-4">
                        <input type="checkbox" class="custom-control-input">
                        <span class="custom-control-label">&nbsp;</span>
                    </label>
                </div>
            </div>


            <div class="card d-flex flex-row mb-3">
                <a class="d-flex" href="Pages.Product.Detail.html">
                    <img src="img/napoleonshat-thumb.jpg" alt="Napoleonshat"
                        class="list-thumbnail responsive border-0 card-img-left" />
                </a>
                <div class="pl-2 d-flex flex-grow-1 min-width-zero">
                    <div
                        class="card-body align-self-center d-flex flex-column flex-lg-row justify-content-between min-width-zero align-items-lg-center">
                        <a href="Pages.Product.Detail.html" class="w-40 w-sm-100">
                            <p class="list-item-heading mb-0 truncate">Napoleonshat</p>
                        </a>
                        <p class="mb-0 text-muted text-small w-15 w-sm-100">Desserts</p>
                        <p class="mb-0 text-muted text-small w-15 w-sm-100">05.02.2018</p>
                        <div class="w-15 w-sm-100">
                            <span class="badge badge-pill badge-primary">PROCESSED</span>
                        </div>
                    </div>
                    <label class="custom-control custom-checkbox mb-1 align-self-center pr-4">
                        <input type="checkbox" class="custom-control-input">
                        <span class="custom-control-label">&nbsp;</span>
                    </label>
                </div>
            </div>

            <div class="card d-flex flex-row mb-3">
                <a class="d-flex" href="Pages.Product.Detail.html">
                    <img src="img/souffle-thumb.jpg" alt="Soufflé"
                        class="list-thumbnail responsive border-0 card-img-left" />
                </a>
                <div class="pl-2 d-flex flex-grow-1 min-width-zero">
                    <div
                        class="card-body align-self-center d-flex flex-column flex-lg-row justify-content-between min-width-zero align-items-lg-center">
                        <a href="Pages.Product.Detail.html" class="w-40 w-sm-100">
                            <p class="list-item-heading mb-0 truncate">Soufflé</p>
                        </a>
                        <p class="mb-0 text-muted text-small w-15 w-sm-100">Cupcakes</p>
                        <p class="mb-0 text-muted text-small w-15 w-sm-100">14.01.2018</p>
                        <div class="w-15 w-sm-100">
                            <span class="badge badge-pill badge-secondary">ON HOLD</span>
                        </div>
                    </div>
                    <label class="custom-control custom-checkbox mb-1 align-self-center pr-4">
                        <input type="checkbox" class="custom-control-input">
                        <span class="custom-control-label">&nbsp;</span>
                    </label>
                </div>
            </div>

            <div class="card d-flex flex-row mb-3">
                <a class="d-flex" href="Pages.Product.Detail.html">
                    <img src="img/marble-cake-thumb.jpg" alt="Marble Cake"
                        class="list-thumbnail responsive border-0 card-img-left" />
                </a>
                <div class="pl-2 d-flex flex-grow-1 min-width-zero">
                    <div
                        class="card-body align-self-center d-flex flex-column flex-lg-row justify-content-between min-width-zero align-items-lg-center">
                        <a href="Pages.Product.Detail.html" class="w-40 w-sm-100">
                            <p class="list-item-heading mb-0 truncate">Marble Cake</p>
                        </a>
                        <p class="mb-0 text-muted text-small w-15 w-sm-100">Desserts</p>
                        <p class="mb-0 text-muted text-small w-15 w-sm-100">09.01.2018</p>
                        <div class="w-15 w-sm-100">
                            <span class="badge badge-pill badge-secondary">ON HOLD</span>
                        </div>
                    </div>
                    <label class="custom-control custom-checkbox mb-1 align-self-center pr-4">
                        <input type="checkbox" class="custom-control-input">
                        <span class="custom-control-label">&nbsp;</span>
                    </label>
                </div>
            </div>


            <nav class="mt-4 mb-3">
                <ul class="pagination justify-content-center mb-0">
                    <li class="page-item ">
                        <a class="page-link first" href="#">
                            <i class="simple-icon-control-start"></i>
                        </a>
                    </li>
                    <li class="page-item ">
                        <a class="page-link prev" href="#">
                            <i class="simple-icon-arrow-left"></i>
                        </a>
                    </li>
                    <li class="page-item active">
                        <a class="page-link" href="#">1</a>
                    </li>
                    <li class="page-item ">
                        <a class="page-link" href="#">2</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="#">3</a>
                    </li>
                    <li class="page-item ">
                        <a class="page-link next" href="#" aria-label="Next">
                            <i class="simple-icon-arrow-right"></i>
                        </a>
                    </li>
                    <li class="page-item ">
                        <a class="page-link last" href="#">
                            <i class="simple-icon-control-end"></i>
                        </a>
                    </li>
                </ul>
            </nav>

        </div>
    </div>
{% endblock %}