{% load static %}
<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>RandomDomDon</title>
    <base href="/static/main/">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- Bootstrap -->
<link href="css/bootstrap.min.css" rel="stylesheet">
<!--==============GOOGLE FONT - OPEN SANS=================-->
<link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">

<!--============== ICON FONT FONT-AWESOME=================-->

<link href="css/font-awesome.css" rel="stylesheet">

<!--==============MAIN CSS FOR HOSTING PAGE=================-->

<link href="css/hosting.css" rel="stylesheet" media="all">

<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->

<!--==============Mordernizr =================-->

<script src="js/modernizr.js"></script>

<!--===================FLEX SLIDER=======================-->

<link rel="stylesheet" href="css/flexslider.css" />
<script src="js/jquery.min.js"></script>
<script src="js/jquery.flexslider.js"></script>
<script type="text/javascript">
  $(window).load(function() {
     $('.flexslider').flexslider({
        animation: "slide",
		useCSS: Modernizr.touch
      });
  });
</script>
<!-- dddddddddddddddddddddddddddddddddddddddddd -->



<link rel="stylesheet" href="font/iconsmind-s/css/iconsminds.css" />
<link rel="stylesheet" href="font/simple-line-icons/css/simple-line-icons.css" />
<link rel="stylesheet" href="css/vendor/bootstrap.min.css" />
<link rel="stylesheet" href="css/vendor/bootstrap.rtl.only.min.css" />
<link rel="stylesheet" href="css/vendor/jquery.contextMenu.min.css" />
<link rel="stylesheet" href="css/vendor/perfect-scrollbar.css" />
<link rel="stylesheet" href="css/vendor/component-custom-switch.min.css" />
<link rel="stylesheet" href="css/main.css" />



<!-- ddddddddddddddddddddddddddddddddddddddddddddd -->
<!--==============CONTACT FORM=================-->
<script src="js/contact_form.js"></script>
</head>
<body id="home" data-spy="scroll" data-target=".navbar-collapse" data-offset="100">

<!--==============Logo & Menu Bar=================-->

<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
      <a class="navbar-brand" href="#"> 
        <!-- <img src="images/flathost-logo.png" alt="logo"> -->
        <img src="images/logogo.jpg" width="50" height="50" alt="logo">
        
      </a> </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    
    <div class="collapse navbar-collapse navbar-ex1-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li><a>RandomDomDon</a></li>
        <li class="active"><a href="/">Главная</a></li>
        <li class="hidden-sm"><a href="/med">Мед</a></li>
        <li class="hidden-sm"><a href="/mat">Мат</a></li>
        <li><a href="/cen">PRICING</a></li>
        <li class="dropdown"> <a href="#" class="dropdown-toggle" data-toggle="dropdown">BLOG <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="blog.html">Blog List</a></li>
            <li><a href="blog-post.html">Single Blog page</a></li>
          </ul>
        </li>
        <li><a href="/cont">CONTACT</a></li>
        <li><a href="#" role="button" data-toggle="modal" data-target="#Login">Login</a></li>
        <li><a href="whmcs/register.php" role="button" class="btn btn-success">Sign Up</a></li>
      </ul>
      </li>
      </ul>
    </div>
    <!-- /.navbar-collapse -->

  </div>
</nav>

<!--==============HEADER =================-->
{#<div class="jumbotron masthead">#}
{##}
{#  <!--==============Hero Unit=================-->#}
{#  <div class="container">#}
{#    <div class="flexslider">#}
{#      <ul class="slides">#}
{#        <li>#}
{#          <div class="hero-unit">#}
{#            <h1>One page Hosting Solution</h1>#}
{#            <h3>Flathost is a bootstrap based responsive minimal, flat and afforable hosting template with easy customization and great support</h3>#}
{#            <div class="slider-actions text-center"> <a href="#" class="btn btn-success btn-lg">Explore Features </a> <a href="#" class="btn btn-primary btn-lg">Plans and Pricing </a> </div>#}
{#          </div>#}
{#        </li>#}
{#        <li>#}
{#          <div class="slide2">#}
{#            <p><img src="images/server1.png" alt="server" class="img-responsive center-block"></p>#}
{#            <h1>Dedicated and VIP Hosting</h1>#}
{#          </div>#}
{#        </li>#}
{#        <li>#}
{#          <div class="slide3">#}
{#            <p class="pull-left"><img src="images/server2.png" alt="server" class="img-responsive"></p>#}
{#            <h1>Managed Hosting</h1>#}
{#            <h3>Flathost is a bootstrap based responsive minimal, flat and afforable hosting template with easy customization and great support </h3>#}
{#          </div>#}
{#        </li>#}
{#      </ul>#}
{#    </div>#}
{#  </div>#}
{#</div>#}

<!--==============Content Area=================-->


{% block content %}
{% endblock  %}

<!--Container Closed-->

<!--============== Domain Search ==============-->

{#<div class="domain">#}
{#  <div class="container">#}
{#    <div class="row PageHead">#}
{#      <div class="col-md-12">#}
{#        <h1>Search Domain</h1>#}
{#        <h3>Enter the domain name to register or transfer</h3>#}
{#      </div>#}
{#    </div>#}
{#    <div class="row">#}
{#      <div class="col-md-8 col-md-offset-2">#}
{#        <form action="https://yourwebsite.com/whmcs/domainchecker.php" method="post">#}
{#          <input type="hidden" name="direct" value="true" />#}
{#          <div class="row">#}
{#            <div class="col-sm-12 form-group">#}
{#              <div class="input-group">#}
{#                <input class="form-control" type="text" name="domain" size="20" placeholder="your domain name" />#}
{#                <span class="input-group-btn">#}
{#                <select class="btn btn-default" name="ext">#}
{#                  <option selected>.com</option>#}
{#                  <option>.net</option>#}
{#                  <option>.org</option>#}
{#                  <option>.biz</option>#}
{#                  <option>.com.au</option>#}
{#                  <option>.net.au</option>#}
{#                  <option>.info</option>#}
{#                  <option>.asia</option>#}
{#                  <option>.co.nz</option>#}
{#                  <option>.org.au</option>#}
{#                </select>#}
{#                </span> </div>#}
{#            </div>#}
{#          </div>#}
{#          <div class="submitbtn">#}
{#            <input type="submit" class="btn btn-success btn-lg" value="Search Domain" />#}
{#          </div>#}
{#        </form>#}
{#      </div>#}
{#    </div>#}
{#  </div>#}
{#</div>#}

<!--============== Footer ==============-->

<div class="footer">
  <div class="container">
    <div class="row footerlinks">
      <div class="col-sm-4 col-md-2">
        <p>ПОЗВОНИТЬ НАМ</p>
        <ul>
          <li> +8-452-825-42-47</li>
          <li>+8-400-218-35-55</li>
        </ul>
      </div>
      <div class="col-sm-4 col-md-2">
        <p>СЛЕДУЙТЕ ЗА НАМИ</p>
        <ul>
          <li><a href="http://twitter.com/surjithctly" target="_blank">Follow on Twitter</a></li>
          <li><a href="http://web3canvas.com" target="_blank">Like us on Facebook</a></li>
          <!-- <li><a href="http://surjithctly.in" target="_blank">Join on Linkedin</a> </li> -->
        </ul>
      </div>
      <div class="col-sm-4 col-md-2">
        <p>КОМПАНИЯ</p>
        <ul>
          <li> <a href="#">About us</a></li>
          <li><a href="#">Latest from Blog</a></li>
          <li><a href="#">Our Team</a></li>
        </ul>
      </div>
      <div class="col-sm-4 col-md-2">
        <p>НАПИСАТЬ НАМ</p>
        <ul>
          <li><a href="mailto:support@mail.in" target="_blank">support@mail.com</a></li>
          <li><a href="mailto:mail@mail.in" target="_blank">sales@mail.com</a></li>
        </ul>
      </div>
      <div class="col-sm-4 col-md-2">
        <p>ЮРИДИЧЕСКИЕ УСЛОВИЯ</p>
        <ul>
          <li><a href="#">Terms of use</a></li>
          <li><a href="#">Privacy Policy</a></li>
        </ul>
      </div>
      <div class="col-sm-4 col-md-2">
        <p>ЖИВОЙ ЧАТ</p>
        <ul>
          <li> <a href="/cont" class="btn btn-success btn-small">CHAT WITH US </a> </li>
          <!-- <li><a href="/cont">CONTACT</a></li> -->
        </ul>
      </div>
    </div>
    <div class="row copyright">
      <div class="pull-right"><img src="images/logogo.jpg" width="50" height="50" alt="logo"></div>
      <p>Copyright &copy; 2020. Maks and Vladimir</p>
    </div>
  </div>
</div>

<!--==============MODAL LOGIN=================-->

<!-- Modal -->
<div class="modal fade LoginSignup" id="Login" tabindex="-1" role="dialog" aria-labelledby="LoginLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3 class="modal-title">Login</h3>
      </div>
      <div class="modal-body">
        <form method="post" action="https://www.yourwebsite.com/client/dologin.php">
          <div class="form-group">
            <input class="form-control input-lg" type="text" name="username" size="50" placeholder="Email ID"/>
          </div>
          <div class="form-group">
            <input class="form-control input-lg" type="password" name="password" size="20" placeholder="Password"/>
          </div>
          <div class="form-group">
            <input type="submit" value="Login to my Account" class="btn btn-success btn-lg"/>
          </div>
        </form>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->

<!--===Back to top======-->
<a href="#" class="scrollup">Scroll</a>

<!--==============QUERY LIBRARY=================-->

<script src="js/jquery.easing.1.2.js"></script>

<!--==============BOOTSTRAP JS=================-->

<script src="js/bootstrap.min.js"></script>

<!--==========ONE PAGE SCROLLING SCRIPTS STARTS===============-->
<!-- ddddddddddddddddddddddddddddddddddddddd -->



<script src="js/vendor/jquery-3.3.1.min.js"></script>
    <script src="js/vendor/bootstrap.bundle.min.js"></script>
    <script src="js/vendor/perfect-scrollbar.min.js"></script>
    <script src="js/vendor/mousetrap.min.js"></script>
    <script src="js/vendor/jquery.contextMenu.min.js"></script>
    <script src="js/dore.script.js"></script>
    <script src="js/scripts.js"></script>



<!-- dddddddddddddddddddddddddddddddddddddddd -->
<script>
            $(function() {
                $('.nav li a').bind('click',function(event){
                    var $anchor2 = $(this).parent();
				    var $anchor = $(this);
					$('.nav  li').removeClass('active');
                    $anchor2.addClass('active');

                    $('html, body').stop().animate({
                        scrollTop: $($anchor.attr('href')).offset().top - 80
                    }, 1500,'easeInOutExpo');
                    event.preventDefault();
                });
            });
        </script>

<!--=============ONE PAGE SCROLLING SCRIPTS ENDS============-->

<!--=============BACK TO TOP STARTS============-->

<script>
    $(document).ready(function(){

        $(window).scroll(function(){
            if ($(this).scrollTop() > 800) {
                $('.scrollup').fadeIn();
            } else {
                $('.scrollup').fadeOut();
            }
        });

        $('.scrollup').click(function(){
            $("html, body").animate({ scrollTop: 0 }, 600);
            return false;
        });

    });
</script>

<!--=============BACK TO TOP ENDS============-->

<!--Start of Tawk.to Script-->
<script type="text/javascript">
var $_Tawk_API={},$_Tawk_LoadStart=new Date();
(function(){
var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
s1.async=true;
s1.src='https://embed.tawk.to/54b4d389f7d9f97ff805cbad/default';
s1.charset='UTF-8';
s1.setAttribute('crossorigin','*');
s0.parentNode.insertBefore(s1,s0);
})();
</script>
<!--End of Tawk.to Script-->

</body>
</html>