#comments {
  border-width: 0;
  font-size: 80%;
  margin: 10px 0;
}
#comments h2 {
  font-size: 100%;
  padding: 0;
  margin: 0;
}
#comments form {
}
#comments form p {
  margin: 2px 0;
}
#comments form input {
  margin: 2px 0;
  border: 1px solid #000;
  width: 100%;
  display: block;
}
#comments form textarea {
  margin: 2px 0;
  border: 1px solid #000;
  width: 100%;
  display: block;
}
#comments form button {
  padding: 0 10px;
  margin: 2px 0;
  border: 1px solid #000;
  background-color: #eee;
  display: block;
}
#comments .message {
  margin: 2px 0 0 0;
  padding: 0;
  border-width: 2px 0 0 0;
  border-style: solid;
  border-color: #777;
}
#comments .message .date {
  background-color: #eee;
  font-size: 80%;
}
#comments .message .name {
  font-weight: bold;
}
#comments .message .text {
}
